.hero-area-2 {background-image: url(../img/hero-bg-2.png); background-color: #359af3;}
.boxed-btn {background-color: #24d5a1;}

.hero-area-2 {
    background-size: cover;
    background-position: center;
    line-height: 1.8;
    color: #fff;
    padding: 80px 0;
}
.hero-area-2 h1 {
    font-size: 46px;
    color: #fff;
    line-height: 48px;
    margin-top: 100px;
}